<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя Камчатка</title>
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
    <link type="Image/x-icon" href="/favicon.ico" rel="icon">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/for-pages.css">
    <script src="https://kit.fontawesome.com/78b972f1f9.js" crossorigin="anonymous"></script> <!-- для иконок --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="js/menu.js"></script> 
    <script src="main.js"></script>
</head>
<header class="header">
    <div class="container">
        <div class="menu-burger__header">
            <span></span>
        </div>
        <div class="header__nav">
        <ul class="header__menu">
            <li id="burger-margin"><a href="/" class="menu__item" title="Переход на главную страницу меню">Главная</a></li>
            <li id="burger-margin">
                <a class="menu__item" title="Туры">Туристу</a>
                <ul>
                    <li><a href="/tourist" title="Экскурсии">Экскурсии</a></li>
                    <li><a href="/events" title="Куда сходить на Камчатке">Куда сходить</a></li>
                    <li><a href="/at-development">Проживание</a></li>
                    <li><a href="/tourist-cafe">Где поесть</a></li>
                </ul>
            </li>
            <li id="burger-margin">
                <a class="menu__item">Фотогалерея</a>
                <ul>
                    <li><a href="/animals" title="Фотогалерея с животными">Животные</a></li>
                    <li><a href="/plants" title="Фотогалерея с растениями">Растения</a></li>
                    <li><a href="/at-development">Город</a></li>
                    <li><a href="/at-development">Гейзеры</a></li>
                </ul>
            </li>
            <li id="burger-margin">
                <a class="menu__item">Новости</a>
                <ul>
                    <li><a href="/news" title="Новости Камчатки">Все новости</a></li>
                    <li><a href="/at-development">Экономика</a></li>
                    <li><a href="/at-development">Политика</a></li>
                    <li><a href="/at-development">Праздники</a></li>
                    <li><a href="/at-development">Блог</a></li>
                </ul>
            </li>
            <li id="burger-margin">
                <a class="menu__item">История</a>
                <ul>
                    <li><a href="/history" title="Краткая история">Открытие</a></li>
                    <li><a href="/at-development">Природа</a></li>
                    <li><a href="/at-development">Мореплаватели</a></li>
                    <li><a href="/at-development">Народы</a></li>
                    <li><a href="/at-development">Сейчас</a></li>
                </ul>
            </li>
            <li id="burger-margin">
                <a class="menu__item" title="Расписание транспорта на Камчатке">Транспорт</a>
                <ul>
                    <li><a href="/plans" title="Расписание самолетов на Камчатке">Самолёты</a></li>
                    <li><a href="/at-development">Автобусы</a></li>
                    <li><a href="/at-development">Вертолёты</a></li>
                    <li><a href="/at-development">Яхты</a></li>
                    <li><a href="/at-development">Такси</a></li>
                </ul>
            </li>
            <li id="burger-margin">
                <a class="menu__item">Погода</a>
                <ul>
                    <li><a href="/weather" title="Погода на Камчатке сейчас">Сейчас</a></li>
                    <li><a href="/at-development">На неделю</a></li>
                </ul>
            </li>
            <li id="burger-margin">
                <a class="menu__item">Бизнесу</a>
                <ul>
                    <li><a href="/buisnes" title="Открытие туристического бизнеса">Туризм</a></li>
                    <li><a href="/at-development">Сферы</a></li>
                    <li><a href="/at-development">Государство</a></li>
                </ul>
            </li>
            
            <li id="burger-margin"><a href="/map" class="menu__item" title="Карта сайта">Карта сайта</a></li>
            <li id="burger-margin"><a href="/about-company" class="menu__item" title="О компании">О нас</a></li>
            <li id="burger-margin"><a href="/register" class="menu__item" title="Регистрация"><img src="/images/user.png" class="reg-user"></a></li>
            <li id="logo-place"><img src="/images/logo.png" class="logo"></li>
            <li id="form_search_button"> <form>
                <input type="text" placeholder="Искать здесь...">
                <button class="submit-button" type="submit"><i class="fa fa-search" style="color: #fff"></i></button>
                </form>
            </li>
            </ul>
        </div>
    </div>
</header>
 <!-- закрытие тега с фоновым изображением -->

<a class="buttons-top-footer" id="toTop" href="#background__travel" title="Вверх страницы">^</a>
<a class="buttons-top-footer" id="toFooter" style="rotate: 180deg;" href="#bottom-page" title="Вниз страницы">^</a>



<div class="sidenav">
    <div id="5b6d84a3f367248fe77d12a960d23a76" class="ww-informers-box-854753"><p class="ww-informers-box-854754"><a href="https://world-weather.ru/pogoda/russia/petropavlovsk_kamchatsky/">Подробнее о погоде в Петропавловске-Камчатском</a><br><a href="https://world-weather.ru/pogoda/russia/tomsk/">world-weather.ru</a></p></div><script async type="text/javascript" charset="utf-8" src="https://world-weather.ru/wwinformer.php?userid=5b6d84a3f367248fe77d12a960d23a76"></script><style>.ww-informers-box-854754{-webkit-animation-name:ww-informers54;animation-name:ww-informers54;-webkit-animation-duration:1.5s;animation-duration:1.5s;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;font-size:12px;font-family:Arial;line-height:18px;text-align:center}@-webkit-keyframes ww-informers54{0%,80%{opacity:0}100%{opacity:1}}@keyframes ww-informers54{0%,80%{opacity:0}100%{opacity:1}}</style>
    <h1>Последние новости</h1>
    <h2>На Камчатке суд оштрафовал директора филиала «Нацрыбресурса»</h2>
    <img src="/images/images/news/news_sidenav/news1.jpg" class="new-picture">
    <div class="line"> </div>
    <a href="/news" id="show-all" title="Все новости">показать все</a>
    <figure>
    <a href="https://dvamoryaokean.ru" title="Ресторан рыбной кухни" target="_blank">
    <img src="/images/images/news/news_sidenav/add.jpg" class="add-picture" >
    <figcaption id="add-text">Ресторан морской кухни, основанной на локальных продуктах...</figcaption>
    </a>
    </figure>
</div>

<body>
    <div class="card">
        <div class="card_background_img"></div>
        <div class="card_profile_img"></div>
        <div class="user_details">
            <p class="dash">Ваше имя: {{name}}</p>
        </div>
        <div class="card_count">
            <div class="count">
                <div class="following">
                    <p class="dash">Ваш e-mail: {{email}}</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>